<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" 
	th:replace="normal/base::Layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
</head>

<body>
			<section>
		<div class="card mr-3">
			<div class="card-body">
				<h1 class="text-center"> Add Contact</h1>

				<div class="container-fluid mt-1">

					<div class="row">

						<div class="col-md-10 offset-md-1">

								<form action="#" 
								th:object="${contact}"
								enctype="multipart/form-data"
								method="POST"
								th:action="@{/user/process-contact}"
								class="mt-2"
								>

								<!--First Name field-->

								<div class="input-group">


									<div class="input-group-prepend">

										<div class="input-group-text mr-1">

											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<input type="text" name="name" id="name" placeholder="Enter name here" class="form-control">

								</div>
								<!--Work-->
								<div class="input-group mt-3">


									<div class="input-group-prepend">

										<div class="input-group-text mr-1">

											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input type="text" name="work" id="work" placeholder="Enter work here" class="form-control">

								</div>
								<!--Email-->
								<div class="input-group mt-3">


									<div class="input-group-prepend">

										<div class="input-group-text mr-1">

											@
										</div>
									</div>
									<input type="text" name="email" id="email" placeholder="Enter email address here" class="form-control">

								</div>
								<!--phone-->
								<div class="input-group mt-3">


									<div class="input-group-prepend">

										<div class="input-group-text mr-1">

											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input type="number" name="phone" id="phone" placeholder="Enter phone number here" class="form-control">

								</div>

								<!--description-->
								<div class="form-group mt-3">
									<textarea name="description" id="description" class="form-control" rows="10" placeholder="Enter Notes"></textarea>
								</div>

								</form>

								

						</div>
					</div>


				</div>
			</div>

		</div>
		
		
	</section>
</body>

</html>